<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         syntaxCheck="true"
>
    <testsuites>
        <testsuite name="My Test Suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="QUEUE_DRIVER" value="sync"/>
        <env name="MAIL_DRIVER" value="log"/>

        <!-- ========================================================= -->
        <!-- ==== If you add values here DO NOT COMMIT them (!!!) ==== -->
        <!-- ========================================================= -->
        <env name="INTERCOM_APP_ID" value="___YOUR_VALUES_HERE___"/>
        <env name="INTERCOM_HMAC_SECRET" value="___YOUR_VALUES_HERE___"/>
        <env name="INTERCOM_ACCESS_TOKEN" value="___YOUR_VALUES_HERE___"/>
        <!-- ========================================================= -->

        <env name="LAST_REQUEST_BUFFER_AMOUNT" value="1"/>
        <env name="LAST_REQUEST_BUFFER_UNIT" value="hour"/>
        <env name="LEVEL_TO_ROUND_DOWN_TO" value="hour"/>
    </php>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
</phpunit>
